<div class="site-container">
  <div class="header-container">
    <h1>AI Projects</h1>
  </div>
  <nav class="navbar-container">
    <ul id="navbar-list">
      <li class="navbar-list-item">
        <a routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="navbar-list-item">
        <a routerLink="/investment-assitant" routerLinkActive="active"
          >Investment Assitant</a
        >
      </li>
      <li class="navbar-list-item">
        <a routerLink="/art-guesser" routerLinkActive="active">Art Guesser</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">    
    <router-outlet></router-outlet>
  </div>
</div>
